@page "{id:int?}"
@model SSD_Assignment_Group_4.Pages.Recipes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form>
    <div class="form-group">
        <select asp-for="RecipeCuisine" asp-items="Model.Cuisine">
            <option value="">All</option>
        </select>
        Search by Title: <input asp-for="SearchString" size="60" placeholder="Filter by Title"  />
        <input type="submit" value="Search" asp-page-handler="Test" />
        <p>
            <span asp-validation-for="SearchString" class="text-danger"></span>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].Cuisine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].Ingredients)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Recipe)
        {
            <tr>
                <td>
                    @Microsoft.Security.Application.Sanitizer.GetSafeHtmlFragment(item.Title)
                </td>
                <td>
                    @item.Author
                </td>
                <td>
                    @Microsoft.Security.Application.Sanitizer.GetSafeHtmlFragment(item.Cuisine)
                </td>
                <td>
                    @Microsoft.Security.Application.Sanitizer.GetSafeHtmlFragment(item.Ingredients)
                </td>
                <td>
                    @item.ReleaseDate
                </td>
                <td>
                    @item.Rating
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
